.article-card {
    width: 22.2rem;
    border: none !important;
}

.card-body-article {
    padding: 0px !important;
}
.card-text {
    font-size: 22px;
    font-weight: bold;
    margin: 0px;
    font-family: 'Montserrat';
}

.card-text:hover {
    cursor: pointer;
    color: #DA254E;
}

.autor-text {
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 500;
    color: #5F5F5F;
}

.article-text-time {
    font-family: 'Montserrat';
    font-size: 15px;
    color: #CBCBCB;
}