.popular-card {
    width: 255px;
    border: none;
    border-radius: 0.5rem !important;
    transition: transform 330ms ease-in-out;
}

.popular-card:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.card-img-popular {
    width: 180px !important;
    height: 180px !important;
}

.popular-title {
    font-size: 18px;
    font-weight: bold;
}

.popular-title:hover {
   color: #DA254E;
   cursor: pointer;
}

.popular-text {
font-size: 14px;
font-weight: 440;

}

.popular-img-icon {
    cursor: pointer;
}

