@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-login {
  width: 222px;
  height: 58px;
  color: white;
  background-color: #DA254E;;
  border: none;
  /* float: right; */
}

.btn-login:hover {
  background-color: #f32958;
}

.nav-menu {
  border-top: 2px solid #e0e0e0;
  border-bottom: 2px solid #e0e0e0;
}

.nav-menu-wrapper {
height: 44px;
}

.nav-menu a {
  font-family: 'Montserrat';
  text-decoration: none;
  margin-left: 10px;
  color: inherit;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 4px;
  transition: all .2s;
  text-align: center;
  font-size:14.5px;
}

.nav-menu a:hover
 {
   color: #DA254E;
   text-decoration: none;
 }


.section-title {
  font-size: 24px;
  font-weight: 700;
  margin: 0px;
}

.section-description {
  font-size: 21px;
  color: #b0b0b0;
  font-weight: 500;
}

.section-see-more {
  font-size: 21px;
  color: #DA254E;
  font-weight: 500;
}

.section-see-more:hover {
  color: #df6363;
}

.adds-banner-970x50 {
  width: 970px;
  height: 50px;
  background-color: #C4C4C4;
  border: solid 2.2px #A7A7A7;
}

.adds-banner-970x50 h3 {
  color: #5A5A5A;
  font-family: 'Montserrat';
  font-size: 28px;
  margin: 0px;
}

.adds-banner-970x250 {
  width: 970px;
  height: 250px;
  background-color: #C4C4C4;
  border: solid 2.2px #A7A7A7;
}

.adds-banner-970x250 h3 {
  color: #5A5A5A;
  font-family: 'Montserrat';
  font-size: 28px;
  margin: 0px;
}

.adds-banner-300x250 {
  width: 300px;
  height: 250px;
  background-color: #C4C4C4;
  border: solid 2.2px #A7A7A7;
}

.adds-banner-300x250 h3 {
  color: #5A5A5A;
  font-family: 'Montserrat';
  font-size: 28px;
  margin: 0px;
  text-align: center;
}

.montserrat {
  font-family: 'Montserrat', sans-serif !important;
}


.section-paddings {
  padding-left: 90px;
  padding-right: 90px;
}

.card-img-top:hover {
  opacity: 0.5;
}

.slide-arrow-left {
  cursor: pointer;
}

.dot-arrow-1 {
  cursor: pointer;
}

.dot-arrow-2 {
  cursor: pointer;
}


.slide-arrow-right {
  cursor: pointer;
}

.img-rounder {
  border-radius: 50%;
}

.brand-image {
  transition: transform 330ms ease-in-out;
}

.brand-image:hover {
  cursor: pointer;
  transform: scale(1.25);
}

.latest-video-frame:hover {
  cursor: pointer !important;
}


li {
  list-style-type: none;
}
.footer-wrapper {
  border-top: 1px solid #e0e0e0;
  width: 100%;
  font-family: Roboto, sans-serif;
}
.footer-download-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  color: black;
  margin: 0 0 15px;
}
.footer-row1 {
  display: flex;
  flex-flow: row;
  max-width: 1292px;
  margin: 0 auto;
  padding: 30px 24px 20px 24px;
}
.footer-row1 ul{
  padding: 0px;
  margin: 0px
}
.footer-row2 {
  display: flex;
  flex-flow: row;
  max-width: 1292px;
  margin: 0 auto;
  padding: 10px 24px 60px 24px;
}
.footer-download {
  width: 25%;
}
.footer-row2-container {
  width: 1292px;
  margin: 0 auto;
  display: flex;
  padding: 20px 24px;
  justify-content: space-between
}
.link-menu {
  margin: 0px 0 10px 0;
  width: 25%;
}
.link-menu li a{
  font-size: 14px;
  font-family: Poppins;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 2.5;
  padding: 10px;
  color: #000;
  text-decoration:none
}

.link-menu li a:hover {
  color: #DA254E;
}

.footer-download-store {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin-bottom: 35px;
}
.social-footer-logo{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 32px;
}
.social-footer-logo a{
  text-decoration: none;
  padding: 0px 22.5px;
  margin-top: -15px;
}
.social-footer-logo a:hover{
  cursor:pointer;
}
.rounded-icon-border {
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 50%;
  position: relative;
}
.rounded-icon-border:hover {
  cursor: pointer;
}

.social-footer {
  padding: 20px 10px 20px 10px;
}

.female-footer-logo {
  cursor: pointer;
}


